p::first-letter {
    text-transform: uppercase;
    color: red;
    font-size: 30px;
}

P:hover
{
    color: red;
}

a {
    font-size: 14px;
}

.CountryList {
    color: deepskyblue;
    width: 300px;
}

div.CountryList {
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 1px solid green;
    margin: 30px;
}

#header {
    color: darkorange;
}